# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Uploads de usuários
uploads/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
